main {
    section {
        div {
            article {
                p {

                }
                p {
                    color: rgb(127, 125, 128);
                    padding: 25px;
                    margin-bottom: 0%;

                }

            }

            article {
                div {
                    img {

                    }
                }

            }
        }

    }
}